numpy==1.26.0
PySocks==1.7.1
stopwords==1.0.0
django==4.2.15
html-similarity==0.3.3
jaccard-index==0.0.3
requests==2.31.0
transformers==4.45.1
simplejson==3.8.0
elasticsearch==8.15.0
pymongo==4.8.0
xxhash==3.4.0
stem==1.8.0
aiohttp_socks==0.7.1
gevent==24.2.1
lxml==4.9.3
celery==5.3.4
fernet==1.0.1
redis==5.1.1
cryptography==43.0.1
python-dotenv==1.0.0
BloomFilter==0.1.0
schedule==1.2.0
pandas==2.1.1
scikit-learn==1.5.1
gensim==4.3.3
beautifulsoup4==4.12.3
bs4==0.0.2
eventlet==0.37.0
nltk==3.9.0
validators==0.20.0
urllib3==2.1.0
Pillow==10.4.0
termcolor==2.3.0
raven==6.10.0
thefuzz==0.19.0
arrow==1.3.0
pydload==1.0.9
onnxruntime==1.19.2
scikit-image==0.22.0
pydantic==2.9.2
aiohttp==3.10.9
phonenumbers==8.13.16
python-Levenshtein==0.26.0
spacy==3.7.5
dotenv
-f https://download.pytorch.org/whl/cpu
torch==2.4.1
